*{
    margin:0;
    padding:0;
    font-family:'Keisei Decol';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type:none;
}



header{
	position: fixed;
    background-color: rgb(11,9,9,0.13);
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 18%;
	transition: ease .40s;
}
.logo{
    width: 321px;
    height: 147px;
}
.navbar{
	display: flex;
}
.navbar a{
	color: white;
	font-size: 1.5em;
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
    
}
.navbar a:hover{
	background: var(--bg-color);
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}
#menu-icon{
	color: white;
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}
.bx-menu:before {
    content: "\eb5f";
}

.slider-frame{
    animation: change 10s infinite ease-in-out;
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
    background-size: cover;
}

@keyframes change {
    0%
    {
    background-image: url(img4.jpg);
    }
    25%
    {
    background-image: url(img2.jpg);
    }
    75%
    {
    background-image: url(img3.jpg);
    }
    100%
    {
    background-image: url(img4.jpg);
    }
}


.home{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(home.png);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}
.home-text h1{
	font-size: 1.5em;
	color: white;
	letter-spacing: 4px;
	margin-bottom: 1px;
    text-align:center;
    font-weight:2em;
}

.section-container
{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
}
.section-container .columns
{
flex:0 0 auto;
width:50%;
}
.section-container .columns.image
{
background-position:center;
background-repeat:no-repeat;
background-size:cover;
height:400px;
}
.section-container .columns.content .content-container
{
padding:40px 50px;
}

.section-container .columns.content .content-container p
{
font-weight:400;
font-size:1.5em;
margin-bottom:20px;
margin-bottom:15px;
text-align:justify;
}
.f3{
	display: flex;
	justify-content:center;
	align-items: center;
	justify-content: space-between;
	justify-content: space-around;
	flex-direction: column;
	flex:wrap;
	margin-top: 5rem;
}
.package-content{
	display: flex;
	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
}
.box{
	position: relative;
 /*	transition: all .3s cubic-bezier(.445,.05,.55,.95);
	will-change: filter; */
	cursor: pointer;
	align-items: center;
	justify-content: center;
}
.box img{
	width: 600px;
	height: auto;
	align-items: center;
	justify-items: center;
}
.titre{
	text-align: center;
}
/* .message{ 
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	grid-gap: 3rem;
}
.message form{
	max-width: 100%;
	width: 450px;
	position: relative;
}*/
.message form input:first-child{
	display: inline-block;
	width: 50%;
	padding: 20px 200px 20px 30px;
	box-shadow: 50px 100px 300px rgb(85 85 85 / 20%);
	outline: none;
	border: none;
	border-radius: 15px;
	align-items:center;
}
.q1{
    background-color: black;
    width:600px;
    color:#ffffff;
}
.categoryb{
    width:60%;
	align-items: center;
}

.category{
    color:#ffffff;
    font-size:large;
    background-color:#C28AFA;
     width: 400px;
    height: 46px;
  /* left: 150px;
    top: 20;*/
    border-radius:15px;
    padding-left:20px;

}
.bigmenu{
	justify-content: space-between 100px;
	display:inline-flex;
	flex:wrap;
	 flex-direction: row; 
	/* justify-content: space-between; */
	/* right:0px; */
	/* left:0px; */
	 width:100%; 
	grid-gap:10rem;
	row-gap: 10rem;
}
.menu{
	display:grid;
	grid-template-columns: repeat(2,minmax(200px,auto));
	grid-gap:18rem;
	column-gap: 10rem;
	row-gap: 10rem;
	float:left;
}
.block{
    padding:20px;
}
.card img{
    width:300px;
    height:300px;
}
.chosen{
    background-color:#332020;
    width:30%;
    height:900px;
     float:right;
/*	margin-left:100px ;
	margin-top:1%;
     
    margin-top:685px;
    margin-left:126px;
    overflow-y:scroll;*/
}

.form2{
    display:grid;
    grid-template-columns:repeat(1,1fr) ;
    /* grid-gap:20px; */
    align-content:center;
	align-items:center;
	text-align:center;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.293046) 12.07%, rgba(0, 0, 0, 0.503261) 24.92%, rgba(0, 0, 0, 0.677843) 39.31%, #000000 57.87%);
	position: relative;
	width: 100%;
	height: 1086px;
	background-size: cover;
	background-position: center;
}
#fname{
	margin-top:50px;
	align-items: center;
}

.cont{
	align-items: center;
    font-size: 1.5em;
    line-height: 65px;
    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0);
    color:#ffffff;
	width:1000px;
}
.contacts{
	font-size: 42px;
    font-weight:700;
	color:white;
	font-style: normal;

	letter-spacing: 3.5%;
	align-items: center;
	margin : 0px 0px 20px;
	/* text-align: center; */
	padding-top:120px;
	text-shadow:rgba(0, 0, 0, 0.25);
}
.confirm{
    color:white;
 
   align-items: center;
	/* padding-right:33%; */
    font-size:1.5em;
    line-height: 65px;
}
.submit{
	background-color:rgba(115, 105, 105, 1);
	color:white;
	font-size:1.5em;
	letter-spacing: 0.03em;
	height:45px;
	width:120px;
	border-radius:13px;
	margin-right:	35%;
	/*margin-left:343px;*/
	align-items: center;
}

.slider-frame{
    animation: change 10s infinite ease-in-out;
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
    background-size: cover;
}

@keyframes change {
    0%
    {
    background-image: url(img4.jpg);
    }
    25%
    {
    background-image: url(img2.jpg);
    }
    75%
    {
    background-image: url(img3.jpg);
    }
    100%
    {
    background-image: url(img4.jpg);
    }
}
/*

.bigmenu{
    width:60%;
    float:left;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    justify-content:space-between;
    padding-top:10px;

}

.menu{
    position:relative;
    margin-left:40%;
    font-family: 'Kaisei Decol';
    font-weight:0.2em;
    width:50%;
    height:10%;
}*/
/*
.block{
    padding:20px;
}*/
/*
.card img{
    width:300px;
    height:300px;
}
*/

.ajouter{
    width: 60%;
    height:10%;
    background-color: #884274;
    font-size:1.25em;
    color:white;
    border:none;
    border-radius:15px;
   
}

/*
.chosen{
    background-color:#332020;
    width:30%;
    height:1000px;
    float:right;
    position:absolute;
    margin-top:685px;
    margin-left:126px;
    overflow-y:scroll;
}*/
.chosen img{
    width:200px;
}

.area{
	height:800px;
	overflow-y: scroll;
}

.som{
    background-color:rgba(40, 221, 36, 1);    
width: 90%;
height: 10%;
/* margin-left:6%; */
border-radius: 0px 30px;
color: white;
font-weight: 2em;
padding-bottom:0px;
font-size:2em;
border:none;
}
/*
.categoryb{
    width:60%;
    float:left;
    margin-top:700px;

}*/

.category{
    color:#ffffff;
    font-size:large;
    font-family:'Keisei Decol';
    background-color:#C28AFA;
    position: relative;
    width: 400px;
    height: 46px;
  /*  left: 150px;*/
    top: 20;
    border-radius:15px;
    padding-left:20px;

}
.container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 41%;
   padding:0.5%;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .menup{
    display:grid;
    justify-content:repeat(2,1fr);
  }
  .img1{
    width:80%;
    height:60%;
  /* padding-top:50px;*/
    padding-left:3%;
    padding-right:10px;

  }
.price{

    background-color: #BDC017;
    color:white;
    width:800px;
    height:20px;

}
.cart-price cart-column{
	background-color: #BDC017;
    color:white;
    width:800px;
    height:20px;
}

.cart-item-title{
	color:white;
}
.cart-total-title{
	color:white;
	font-size: 2em;
	width:600px;
	background-color: #28DD24;
	border-radius: 0px 10px;
}

.f1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.f2{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.f3{
    display:grid;
    grid-template-columns:repeat(1,1fr) ;
    grid-gap:20px;
    align-content:center;
}



@media (max-width: 1400px){
	header{
		padding: 17px 3%;
		transition: .2s;
	}
	header.sticky{
		padding: 10px 3%;
		transition: .2s;
	}
	section{
		padding: 80px 3%;
		transition: .2s;
	}
}

@media (max-width: 1040px){
	#menu-icon{
		display: block;
	}
	.stick #menu-icon{
		color: var(--text-color);
	}
	.home{
		height: 88vh;
	}
	.navbar{
		position: absolute;
		top: 0;
		right: -100%;
		width: 270px;
		height: 120vh;
		background: #1067cc;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 150px 30px;
		transition: 0.5s all;
	}
	.navbar a{
		display: block;
		margin: 1.2rem 0;
	}
	.sticky .navbar a{
		color: var(--bg-color);
	}
	.navbar a:hover{
		color: var(--text-color);
	}
	.open{
		right: 0;
	}
	.list{
		width: 50%;
		margin-bottom: 12px;
	}
	.form2 input{
		width:740px;
	}

	.form2{
		display:grid;
		grid-template-columns:repeat(1,1fr) ;
		/* grid-gap:20px; */
		align-content:center;
		align-items:center;
		text-align:center;
		
		position: relative;

		/* background-size: cover; */
		/* background-position: center; */
	}
}

@media (max-width: 575px){
	.list{
		width: 100%;
	}
	.newsletter form{
		width: 35px;
	}

	.text{
		text-align: center;
	}
	.home{
		height: 85vh;
		transition: .2s;
	}
	.stroke{
		text-align:center;
	}
	.water{
		text-align:center;
	}
	.cont{
		align-items: center;
		font-size: 1.5em;
		line-height: 50px;
		padding-left: 2%;
		background-color: rgba(255, 255, 255, 0);
		color:#ffffff;
		width:auto;
	}
	.form2 input{
		width:200px;
	}

	.form2{
		display:grid;
		grid-template-columns:repeat(1,1fr) ;
		/* grid-gap:20px; */
		align-content:center;
		align-items:center;
		text-align:center;
		
		position: relative;

		/* background-size: cover; */
		/* background-position: center; */
	}
	.som{
		background-color:rgba(40, 221, 36, 1);    
	width: 40%;
	height: 6%;
	
	border-radius: 0px 10px;
	color: white;
	font-weight: 1em;
	padding-bottom:0px;
	font-size:1em;
	border:none;
	}
	.card img{
		width:150px;
		height:150px;
	}
	.block{
		padding:5px;
	}
	.category{
		color:#ffffff;
		font-size:large;
		background-color:#C28AFA;
		 width: 200px;
		height: 3Opx;
	  /* left: 150px;
		top: 20;*/
		border-radius:15px;
		padding-left:20px;
	
	}

	.bigmenu{
		justify-content: space-between 100px;
		display:inline-flex;
		flex:wrap;
		 flex-direction: row; 
		/* justify-content: space-between; */
		/* right:0px; */
		/* left:0px; */
		 width:100%; 
		grid-gap:5rem;
		row-gap: 5rem;
	}
	
	.menu{
		
		grid-template-columns: repeat(1,minmax(200px,auto));
		grid-gap:5rem;
		column-gap: 5rem;
		row-gap: 5rem;
		float:left;
	}

	.chosen{
		background-color:#332020;
		width:50px;
		height:900px;
		 float:right;
	/*	margin-left:100px ;
		margin-top:1%;
		 
		margin-top:685px;
		margin-left:126px;
		overflow-y:scroll;*/
	}

	}



.regform{
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.293046) 12.07%, rgba(0, 0, 0, 0.503261) 24.92%, rgba(0, 0, 0, 0.677843) 39.31%, #000000 57.87%);
	width: 100%;
	/* height: 900px; */
}
	/* background-color: black; */

.water{
    font-size: 1.5em;
    line-height: 65px;
    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0);
    color:#ffffff;
}
.contacts{
	font-size: 42px;
    font-weight:700;
	color:white;
	font-style: normal;
	font-family: 'Kaisei Decol';
	letter-spacing: 3.5%;
	
	margin : 0px 0px 20px;
	text-align: center;
	padding-top:120px;
	text-shadow:rgba(0, 0, 0, 0.25);
}
.confirm{
    color:white;
    padding-right:33%;
    font-size:1.5em;
    line-height: 2em;
}
.submit{
	background-color:rgba(115, 105, 105, 1);
	color:white;
	font-size:1.5em;
	letter-spacing: 0.03em;
	height:45px;
	width:120px;
	border-radius:13px;
	margin-right:	35%;
	/*margin-left:343px;*/
}
#contact{
	background:black;
}
.main{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	padding: 20px 0;
}
.list{
	width: 25%;
}
.list h4{
	font-size: 21px;
	color: white;
	margin-bottom: 30px;
	position: relative;
}
.list h4::before{
	content: "";
	position: absolute;
	height: 2px;
	width: 100px;
	left: 2;
	bottom: -10px;
	background: white;
}
.list ul li:not(last-child) {
	margin-bottom: 16px;
}
.list ul li a{
	color: #ffffffbf;
	font-size: var(--p-font);
	display: block;
	transition: .3s;
}
.list ul li a:hover{
	color:white ;
	transform: translateX(14px);
}
.list .social a{
    height: 40px;
    width: 40px;
    background: white;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    transition: .3s;
    margin-right: 10px;
}
.bxl-facebook:before {
    content: "\e92f";
}
.list .social a:hover{
	transform: scale(1.1);
}
.end-text{
	text-align: center;
	padding-top: 90px;
}
.end-text p{
	color: white;
	font-size: 14px;
	letter-spacing: 2px;
}
.box pre{
	font-size:2em;
}

@media screen and (max-width:767px)
{
.section-container
{
flex-flow:row wrap;
}
.section-container .columns.image{
display:block;
order:1;
width:100%;
height:250px;
}
.section-container .columns.content
{
display:block;
order:2;
width:100%;
}
.section-container .columns.content .content-container
{
padding:20px 35px;
}
.section-container .columns.content .content-container h5
{
margin-bottom:5px;
}
.box img{
	width: 500px;
	height: auto;
	align-items:center;
}
.box pre{
	font-size:1em;
}
.menu{
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}
}



@media (max-width: 1400px){
	header{
		padding: 17px 3%;
		transition: .2s;
        background-color: rgb(11,9,9,0.13);
        height:100px;
	}
	header.sticky{
		padding: 10px 3%;
		transition: .2s;
	}
	section{
		padding: 80px 3%;
		transition: .2s;
	}

	.box img{
		width: 1000px;
		height: auto;
		align-items:center;
	}
}

@media (max-width: 1040px){
	#menu-icon{
		display: block;
	}
	.stick #menu-icon{
		color: white;
	}
	.home{
		height: 88vh;
	}
	.navbar{
		position: absolute;
		top: 0;
		right: -100%;
		width: 270px;
		height: 120vh;
		background: #000000;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 150px 30px;
		transition: 0.5s all;
	}
	.navbar a{
		display: block;
		margin: 1.2rem 0;
	}
	.sticky .navbar a{
		color: white;
	}
	.navbar a:hover{
		color: white;
	}
	.open{
		right: 0;
	}
	.list{
		width: 50%;
		margin-bottom: 12px;
	}
	.box img{
		width: 800px;
		height: auto;
		align-items:center;
	}
}

@media (max-width: 575px){
	.list{
		width: 100%;
	}
	.message form{
		width: 350px;
	}
	.text{
		text-align: center;
	}
	.home{
		height: 85vh;
		transition: .2s;
	}
	.box img{
		width: 200px;
		height: auto;
		align-items:center;
	}
	.slider-frame{
		height: 85vh;
		transition: .2s;

	}
	.chosen{
		background-color:#332020;
		width:50%;
		height:900px;
		float:right;
		margin-left:130px ;
	}

}